.App {
  text-align: center;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.ces-logo {
  height: 200px;
  animation: rotate 5s linear infinite;
}

.lightning {
  position: absolute;
  width: 20px;
  height: 40px;
  background: yellow;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: flicker 1s infinite;
  opacity: 0.8;
}

/* چرخش لوگو */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* نوسان رعد و برق */
@keyframes flicker {
  0%, 100% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.2);
  }
}
.subscribe-button {
  background-color: #61dafb;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribe-button:hover {
  background-color: #21a1f1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
